# libraries used

In [102]:
import pandas as pd
import os
import requests
import pymysql
import getpass
from sqlalchemy import text
from sqlalchemy import VARCHAR, TEXT, FLOAT, DATE, BIGINT, INTEGER, INT
from dotenv import load_dotenv

# read cvs

In [139]:
branded=pd.read_csv('../Is_this_good/branded_food.csv',chunksize=10000,usecols=lambda col: col not in ['trade_channel','household_serving_fulltext','short_description','package_weight','discontinued_date'])
food=pd.read_csv('../Is_this_good/food.csv',chunksize=10000,usecols=lambda col: col not in ['trade_channel','microbe_data','food_category_id','data_type'])
food_attribute=pd.read_csv('../Is_this_good/food_attribute.csv',chunksize=10000,usecols=lambda col: col not in ['seq_num'])
food_attribute_type=pd.read_csv('../Is_this_good/food_attribute_type.csv')
food_nutrient=pd.read_csv('../Is_this_good/food_nutrient.csv',chunksize=10000,usecols=lambda col: col not in ['footnote','data_points','min_year_acquired','min','max','median','loq'])
update=pd.read_csv('../Is_this_good/food_update_log_entry.csv')
measure=pd.read_csv('../Is_this_good/measure_unit.csv')
microbe=pd.read_csv('../Is_this_good/microbe.csv')
nutrient=pd.read_csv('../Is_this_good/nutrient.csv')

# Import to SQL

In [5]:
#Start engine
load_dotenv()
password=os.getenv('data_base_password')
bd = "food"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/food)

In [120]:
dtype_nutrient = {
    'id': INTEGER,
    'fdc_id': INTEGER,
    'nutrient_id': INTEGER,
    'amount': FLOAT,
    'derivation_id': INTEGER,
    'percent_daily_value': FLOAT
}
for bf in food_nutrient:
    bf.to_sql('food_nutrient',index=False,con=engine,if_exists='append',schema='food',dtype=dtype_nutrient)

In [54]:
with engine.connect() as connection:
    food_attribute_type.to_sql('food_attribute_type', con=connection, index=False, if_exists='replace')
    measure.to_sql('measure', con=connection, index=False, if_exists='replace')
    microbe.to_sql('microbe', con=connection, index=False, if_exists='replace')

In [140]:
from sqlalchemy import VARCHAR, TEXT, FLOAT, DATE, BIGINT, INTEGER

dtype_branded = {
    'fdc_id': INTEGER,
    'brand_owner': VARCHAR(80),
    'brand_name': VARCHAR(60), 
    'subbrand_name': VARCHAR(65),
    'gtin_upc': VARCHAR(50),  
    'ingredients': TEXT,  
    'not_a_significant_source_of': VARCHAR(320),  
    'serving_size': FLOAT,  
    'serving_size_unit': VARCHAR(5),   
    'branded_food_category': VARCHAR(720),  
    'data_source': VARCHAR(7),   
    'modified_date': DATE,
    'available_date': DATE,
    'market_country': VARCHAR(15),  
    'preparation_state_code': VARCHAR(15) 
}


for bf in branded:
    bf.to_sql('branded',index=False,con=engine,if_exists='append',schema='food',dtype=dtype_branded)

In [142]:
dtype_food = {
    'fdc_id': BIGINT,
    'description': VARCHAR(600),
    'market_country': VARCHAR(15),
    'publication_date': DATE
} 

for bf in food:
    bf.to_sql('food',index=False,con=engine,if_exists='append',schema='food',dtype=dtype_food)

In [55]:

for bf in update:
    bf.to_sql('update_food',index=False,con=engine,if_exists='append',schema='food')

In [107]:
dtype_attribute = {
    'fdc_id': INTEGER,
    'food_attribute_type_id': INTEGER,
    'name': VARCHAR(50),
    'value':INTEGER
} 
for bf in food_attribute:
    bf.to_sql('food_attribute',index=False,con=engine,if_exists='append',schema='food',dtype=dtype_attribute)

In [60]:
update.to_sql('update_food', con=engine, index=False, if_exists='replace')

1947155

In [65]:
dtype = {
    'id': INTEGER,
    'name': VARCHAR(50),
    'unit_name': VARCHAR(10),
    'nutrient_nbr': INTEGER,
    'rank': INTEGER
}
nutrient.to_sql('nutrient', con=engine, index=False, if_exists='replace')

477

# connection

In [122]:
branded_1=pd.read_csv('../Is_this_good/branded_food.csv',nrows=10000,usecols=lambda col: col not in ['trade_channel','household_serving_fulltext','short_description','package_weight'])
food_1=pd.read_csv('../Is_this_good/food.csv',nrows=10000,usecols=lambda col: col not in ['trade_channel','publication_date','microbe_data','food_category_id','data_type'])
food_attribute_1=pd.read_csv('../Is_this_good/food_attribute.csv',nrows=100)
food_attribute_type_1=pd.read_csv('../Is_this_good/food_attribute_type.csv')
food_nutrient_1=pd.read_csv('../Is_this_good/food_nutrient.csv',nrows=10000,usecols=lambda col: col not in ['footnote','data_points','min_year_acquired','min','max','median','loq'])
update_1=pd.read_csv('../Is_this_good/food_update_log_entry.csv')
measure_1=pd.read_csv('../Is_this_good/measure_unit.csv')
microbe_1=pd.read_csv('../Is_this_good/microbe.csv')
nutrient_1=pd.read_csv('../Is_this_good/nutrient.csv')

In [128]:
food_1[food_1['description']=='SWANSON BROTH CHICKEN']

     fdc_id            description market_country
4   1105908  SWANSON BROTH CHICKEN  United States
15  1105919  SWANSON BROTH CHICKEN  United States
29  1105933  SWANSON BROTH CHICKEN  United States

In [135]:
branded_1[branded_1['fdc_id']==1105919]

,fdc_id,brand_owner,brand_name,subbrand_name,gtin_upc,ingredients,not_a_significant_source_of,serving_size,serving_size_unit,branded_food_category,data_source,modified_date,available_date,market_country,discontinued_date,preparation_state_code
15,1105919,CAMPBELL SOUP COMPANY,NaN,NaN,51000121141,"INGREDIENTS: CHICKEN STOCK, CONTAINS LESS THAN...",NaN,240.0,ml,Herbs/Spices/Extracts,GDSN,2020-09-26,2020-11-13,United States,NaN,NaN

In [137]:
food_nutrient_1

,id,fdc_id,nutrient_id,amount,derivation_id,percent_daily_value
0,13706927,1105904,1257,0.00,71,NaN
1,13706930,1105904,1293,53.33,71,0.0
2,13706926,1105904,1253,0.00,75,0.0
3,13706921,1105904,1092,0.00,75,0.0
4,13706916,1105904,1008,867.00,71,NaN
...,...,...,...,...,...,...
9995,13746780,1106625,1004,0.00,75,0.0
9996,13757425,1106626,1258,0.00,75,0.0
9997,13757416,1106626,2000,0.00,70,NaN
9998,13757417,1106626,1079,1.80,73,3.0
9999,13757412,1106626,1003,0.00,70,NaN

In [117]:
food_nutrient_1.head()

         id   fdc_id  nutrient_id  amount  derivation_id  percent_daily_value
0  13706927  1105904         1257    0.00             71                  NaN
1  13706930  1105904         1293   53.33             71                  0.0
2  13706926  1105904         1253    0.00             75                  0.0
3  13706921  1105904         1092    0.00             75                  0.0
4  13706916  1105904         1008  867.00             71                  NaN