# libraries used

In [1]:
import pandas as pd
import os
import requests
import pymysql
import getpass
from sqlalchemy import create_engine
from dotenv import load_dotenv
from sqlalchemy import text
from sqlalchemy import VARCHAR, TEXT, FLOAT, DATE, BIGINT, INTEGER, INT

# Experiment

In [20]:
dtype_nutrient = {
    'id': INTEGER,
    'fdc_id': INTEGER,
    'nutrient_id': INTEGER,
    'amount': FLOAT,
    'derivation_id': INTEGER,
    'percent_daily_value': FLOAT
}
food_idea.to_sql('food_nutrient',index=False,con=engine,schema='food',dtype=dtype_nutrient)

3950084

# read cvs

In [104]:
dtype_branded= {
    'fdc_id': int,
    'brand_owner': str,
    'brand_name': str,
    'subbrand_name': str,
    'gtin_upc': str,
    'ingredients': str,
    'serving_size': float,
    'serving_size_unit': str,
    'branded_food_category': str,
    'data_source': str,
    'modified_date': str,  
    'available_date': str,  
    'preparation_state_code': str
}
branded=pd.read_csv('../Is_this_good/branded_food.csv',usecols=['fdc_id', 'brand_owner', 'brand_name','subbrand_name', 'gtin_upc','ingredients','serving_size',
                                                                  'serving_size_unit','branded_food_category', 'data_source','modified_date',
                                                                    'available_date','preparation_state_code'],dtype=dtype_branded)

In [3]:
dtype_food= {
    'fdc_id': int,
    'description': str,
    'market_country': str
}
food=pd.read_csv('../Is_this_good/food.csv',usecols=['fdc_id','description','market_country'],dtype=dtype_food)

In [105]:
#duplicate branded food
branded_2=pd.read_csv('../Is_this_good/branded_food.csv',usecols=['gtin_upc'])
branded_duplicate=(branded_2[branded_2.duplicated(keep='last')].index+1).to_list()

C:\Users\fsarm\AppData\Local\Temp\ipykernel_8788\1532428962.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  branded_2=pd.read_csv('../Is_this_good/branded_food.csv',usecols=['gtin_upc'])

In [4]:
food_nutrient=pd.read_csv('../Is_this_good/food_nutrient.csv',usecols=lambda col: col not in ['footnote','data_points','min_year_acquired','min','max','median','loq'])
nutrient=pd.read_csv('../Is_this_good/nutrient.csv')
food_attribute_type=pd.read_csv('../Is_this_good/food_attribute_type.csv')
nutrient=pd.read_csv('../Is_this_good/nutrient.csv')
measure=pd.read_csv('../Is_this_good/measure_unit.csv')

# Cleanning

In [63]:
nutrient_dict

{1003: 'Protein',
 1004: 'Total lipid (fat)',
 1005: 'Carbohydrate, by difference',
 1008: 'Energy',
 1079: 'Fiber, total dietary',
 1093: 'Sodium, Na',
 1235: 'Sugars, added',
 1253: 'Cholesterol',
 1257: 'Fatty acids, total trans',
 2000: 'Sugars, total including NLEA'}

In [ ]:
nutrient_dict={1003: 'Protein', 1004: 'Fat)', 1005: 'Carbohydrate', 1008: 'Energy', 1079: 'Fiber', 1093: 'Sodium', 1235: 'Sugars_added', 1253: 'Cholesterol', 1257: 'Trans_fat', 2000: 'Total_sugars'}

In [105]:
#Cleannning of branded
branded_f=branded[~branded['gtin_upc'].duplicated(keep='last')]
branded_f=branded_f[~branded_f['brand_name'].isna()]

#Cleanning of food_nutirient
#filter by nutrients
select_nutrients = [1008,1003,1004,1005,2000,1235,1093,1079,1257,1253]
food_nutrient_f=food_nutrient[food_nutrient['nutrient_id'].isin(select_nutrients)]
#filter by fdc_id branded
filter_branded=list(branded_f['fdc_id'].values)
food_nutrient_f_fil_b=food_nutrient_f[food_nutrient_f['fdc_id'].isin(filter_branded)]
#pivot df for asdecuate shape
food_nutrient_pivot=pd.pivot_table(data=food_nutrient_f_fil_b,index='fdc_id',columns='nutrient_id',values='amount',aggfunc='sum')
#change nutrients id for nutrients name
filtered_nutrient = nutrient[nutrient['id'].isin(select_nutrients)][['id', 'name']]
nutrient_dict = dict(zip(filtered_nutrient['id'], filtered_nutrient['name']))
nutrient_dict={1003: 'Protein', 1004: 'Fat', 1005: 'Carbohydrate', 1008: 'Calories', 1079: 'Fiber', 1093: 'Sodium', 1235: 'Sugars_added', 1253: 'Cholesterol', 1257: 'Trans_fat', 2000: 'Total_sugars'} #done manualy
food_nutrient_pivot.rename(columns=nutrient_dict,inplace=True)


#Create_filter to drop product variation
branded_variation=branded_f[['fdc_id','brand_owner','brand_name']]
df_filter_variation=pd.merge(branded_variation,food_nutrient_pivot,on='fdc_id',how='inner')
df_filter_variation.set_index('fdc_id',inplace=True)
df_filter_variation.fillna(0,inplace=True)
df_filter_variation.drop_duplicates(keep='first',inplace=True)
filter_variation=list(df_filter_variation.index)
#Create New DF
branded_ultimate=pd.merge(branded_f,food_nutrient_pivot,on='fdc_id',how='inner')
branded_ultimate=branded_ultimate[branded_ultimate['fdc_id'].isin(filter_variation)]

#Cleanning of food 
food_f=food[food['fdc_id'].isin(filter_variation)]
branded_f=branded_f[branded_f['fdc_id'].isin(filter_variation)]
#Cleanning of food_nutrient_2
food_nutrient_f_fil_b=food_nutrient_f_fil_b[food_nutrient_f_fil_b['fdc_id'].isin(filter_variation)]
food_nutrient_f_fil_b['nutrient_id']=food_nutrient_f_fil_b['nutrient_id'].map(nutrient_dict)

#Cleanning of branded_2
branded_fa=branded_f[['fdc_id','brand_name','ingredients','serving_size','serving_size_unit','branded_food_category']]
branded_fa['serving_size_unit']=branded_fa['serving_size_unit'].map({'g':'GRM','ml':'MLT','MG':'MG','IU':'IU','GM':'GM','MC':'MC','GRM':'GRM','MLT':'MLT'})

# Import to SQL

In [61]:
#Start engine
load_dotenv()
password=os.getenv('data_base_password')
bd = "food"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

Engine(mysql+pymysql://root:***@localhost/food)

In [62]:
dtype_food = {
    'fdc_id': INTEGER,
    'description': VARCHAR(510),
    'market_country': VARCHAR(15)
} 

food_f.to_sql('food_f',index=False,con=engine,schema='food',dtype=dtype_food)

330222

In [87]:
dtype_nutrient = {
    'id': INTEGER,
    'fdc_id': INTEGER,
    'nutrient_id': VARCHAR(12),
    'amount': FLOAT,
    'derivation_id': INTEGER,
    'percent_daily_value': FLOAT
}

food_nutrient_f_fil_b.to_sql('food_nutrient',index=False,con=engine,schema='food',dtype=dtype_nutrient)

2915787

In [123]:
dtype_branded = {
    'fdc_id': INTEGER,
    'brand_name': VARCHAR(60),   
    'ingredients': TEXT,    
    'serving_size': FLOAT,  
    'serving_size_unit': VARCHAR(5),   
    'branded_food_category': VARCHAR(720)
}

branded_fa.to_sql('branded',index=False,con=engine,schema='food',dtype=dtype_branded)

330222

In [124]:
dtype_branded_ultimate = {
    'fdc_id': INTEGER,
    'brand_owner': VARCHAR(80),
    'brand_name': VARCHAR(60), 
    'subbrand_name': VARCHAR(65),
    'gtin_upc': VARCHAR(50),  
    'ingredients': TEXT,    
    'serving_size': FLOAT,  
    'serving_size_unit': VARCHAR(5),   
    'branded_food_category': VARCHAR(720),  
    'data_source': VARCHAR(7),   
    'modified_date': DATE,
    'available_date': DATE,
    'preparation_state_code': VARCHAR(15),  
    'Protein': FLOAT,
    'Total lipid (fat)': FLOAT,
    'Carbohydrate, by difference': FLOAT,
    'Energy': FLOAT,
    'Fiber, total dietary': FLOAT,
    'Sodium, Na': FLOAT,  
    'Sugars, added': FLOAT,
    'Cholesterol': FLOAT,
    'Fatty acids, total trans': FLOAT,
    'Sugars, total including NLEA': FLOAT 
}

branded_ultimate.to_sql('branded_u',index=False,con=engine,schema='food',dtype=dtype_branded_ultimate)

330222

# old

In [ ]:
dtype_nutrient = {
    'id': INTEGER,
    'fdc_id': INTEGER,
    'nutrient_id': INTEGER,
    'amount': FLOAT,
    'derivation_id': INTEGER,
    'percent_daily_value': FLOAT
}
for bf in food_nutrient:
    bf.to_sql('food_nutrient',index=False,con=engine,if_exists='append',schema='food',dtype=dtype_nutrient)

In [54]:
with engine.connect() as connection:
    food_attribute_type.to_sql('food_attribute_type', con=connection, index=False, if_exists='replace')
    measure.to_sql('measure', con=connection, index=False, if_exists='replace')
    microbe.to_sql('microbe', con=connection, index=False, if_exists='replace')

In [ ]:
dtype_branded = {
    'fdc_id': INTEGER,
    'brand_owner': VARCHAR(80),
    'brand_name': VARCHAR(60), 
    'subbrand_name': VARCHAR(65),
    'gtin_upc': VARCHAR(50),  
    'ingredients': TEXT,    
    'serving_size': FLOAT,  
    'serving_size_unit': VARCHAR(5),   
    'branded_food_category': VARCHAR(720),  
    'data_source': VARCHAR(7),   
    'modified_date': DATE,
    'available_date': DATE,
    'preparation_state_code': VARCHAR(15) 
}

branded_f.to_sql('branded',index=False,con=engine,schema='food',dtype=dtype_branded)

In [142]:
dtype_food = {
    'fdc_id': BIGINT,
    'description': VARCHAR(600),
    'market_country': VARCHAR(15),
    'publication_date': DATE
} 

for bf in food:
    bf.to_sql('food',index=False,con=engine,if_exists='append',schema='food',dtype=dtype_food)

In [55]:

for bf in update:
    bf.to_sql('update_food',index=False,con=engine,if_exists='append',schema='food')

In [107]:
dtype_attribute = {
    'fdc_id': INTEGER,
    'food_attribute_type_id': INTEGER,
    'name': VARCHAR(50),
    'value':INTEGER
} 
for bf in food_attribute:
    bf.to_sql('food_attribute',index=False,con=engine,if_exists='append',schema='food',dtype=dtype_attribute)

In [60]:
update.to_sql('update_food', con=engine, index=False, if_exists='replace')

1947155

In [65]:
dtype = {
    'id': INTEGER,
    'name': VARCHAR(50),
    'unit_name': VARCHAR(10),
    'nutrient_nbr': INTEGER,
    'rank': INTEGER
}
nutrient.to_sql('nutrient', con=engine, index=False, if_exists='replace')

477

# connection

In [4]:
branded_1=pd.read_csv('../Is_this_good/branded_food.csv')
food_1=pd.read_csv('../Is_this_good/food.csv',nrows=10000,usecols=lambda col: col not in ['trade_channel','publication_date','microbe_data','food_category_id','data_type'])
food_attribute_1=pd.read_csv('../Is_this_good/food_attribute.csv',nrows=100)
food_attribute_type_1=pd.read_csv('../Is_this_good/food_attribute_type.csv')
food_nutrient_1=pd.read_csv('../Is_this_good/food_nutrient.csv',nrows=10000,usecols=lambda col: col not in ['footnote','data_points','min_year_acquired','min','max','median','loq'])
update_1=pd.read_csv('../Is_this_good/food_update_log_entry.csv')
measure_1=pd.read_csv('../Is_this_good/measure_unit.csv')
microbe_1=pd.read_csv('../Is_this_good/microbe.csv')
nutrient_1=pd.read_csv('../Is_this_good/nutrient.csv')

C:\Users\fsarm\AppData\Local\Temp\ipykernel_23028\230474992.py:1: DtypeWarning: Columns (2,3,4,6,9,12,17,18,19) have mixed types. Specify dtype option on import or set low_memory=False.
  branded_1=pd.read_csv('../Is_this_good/branded_food.csv')

In [128]:
food_1[food_1['description']=='SWANSON BROTH CHICKEN']

     fdc_id            description market_country
4   1105908  SWANSON BROTH CHICKEN  United States
15  1105919  SWANSON BROTH CHICKEN  United States
29  1105933  SWANSON BROTH CHICKEN  United States

In [5]:
food_1.head()

    fdc_id                                  description market_country
0  1105904                   WESSON Vegetable Oil 1 GAL  United States
1  1105905                           SWANSON BROTH BEEF  United States
2  1105906     CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER  United States
3  1105907  CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI  United States
4  1105908                        SWANSON BROTH CHICKEN  United States

In [4]:
branded_1.head()

,fdc_id,brand_owner,brand_name,subbrand_name,gtin_upc,ingredients,not_a_significant_source_of,serving_size,serving_size_unit,household_serving_fulltext,branded_food_category,data_source,package_weight,modified_date,available_date,market_country,discontinued_date,preparation_state_code,trade_channel,short_description
0,1105904,Richardson Oilseed Products (US) Limited,NaN,NaN,27000612323,Vegetable Oil,NaN,15.0,ml,NaN,Oils Edible,GDSN,NaN,2020-10-02,2020-11-13,United States,NaN,NaN,NaN,NaN
1,1105905,CAMPBELL SOUP COMPANY,NaN,NaN,51000198808,"INGREDIENTS: BEEF STOCK, CONTAINS LESS THAN 2%...",NaN,240.0,ml,NaN,Herbs/Spices/Extracts,GDSN,NaN,2020-09-12,2020-11-13,United States,NaN,NaN,NaN,NaN
2,1105906,CAMPBELL SOUP COMPANY,NaN,NaN,51000213273,"INGREDIENTS: CLAM STOCK, POTATOES, CLAMS, CREA...",NaN,440.0,g,NaN,Prepared Soups,GDSN,NaN,2020-09-01,2020-11-13,United States,NaN,NaN,NaN,NaN
3,1105907,CAMPBELL SOUP COMPANY,NaN,NaN,51000213303,"INGREDIENTS: WATER, CREAM, BROCCOLI, CELERY, V...",NaN,440.0,g,NaN,Prepared Soups,GDSN,NaN,2020-09-01,2020-11-13,United States,NaN,NaN,NaN,NaN
4,1105908,CAMPBELL SOUP COMPANY,NaN,NaN,51000224637,"INGREDIENTS: CHICKEN STOCK, CONTAINS LESS THAN...",NaN,240.0,ml,NaN,Herbs/Spices/Extracts,GDSN,NaN,2020-10-03,2020-11-13,United States,NaN,NaN,NaN,NaN

In [137]:
food_nutrient_1

,id,fdc_id,nutrient_id,amount,derivation_id,percent_daily_value
0,13706927,1105904,1257,0.00,71,NaN
1,13706930,1105904,1293,53.33,71,0.0
2,13706926,1105904,1253,0.00,75,0.0
3,13706921,1105904,1092,0.00,75,0.0
4,13706916,1105904,1008,867.00,71,NaN
...,...,...,...,...,...,...
9995,13746780,1106625,1004,0.00,75,0.0
9996,13757425,1106626,1258,0.00,75,0.0
9997,13757416,1106626,2000,0.00,70,NaN
9998,13757417,1106626,1079,1.80,73,3.0
9999,13757412,1106626,1003,0.00,70,NaN

In [117]:
food_nutrient_1.head()

         id   fdc_id  nutrient_id  amount  derivation_id  percent_daily_value
0  13706927  1105904         1257    0.00             71                  NaN
1  13706930  1105904         1293   53.33             71                  0.0
2  13706926  1105904         1253    0.00             75                  0.0
3  13706921  1105904         1092    0.00             75                  0.0
4  13706916  1105904         1008  867.00             71                  NaN